
/.idea
bin/
obj/
/BankingControlPanel.Application.UnitTests/obj
/BankingControlPanel.Api/obj
/BankingControlPanel.Api/obj
/BankingControlPanel.Application.UnitTests/bin
/BankingControlPanel.Application/bin
/BankingControlPanel.Application/obj
/BankingControlPanel.Application/obj
/BankingControlPanel.Application/obj
BankingControlPanel.Api/obj/Debug/net8.0/BankingControlPanel.Api.AssemblyInfo.cs
/BankingControlPanel.Application/obj
/BankingControlPanel.Domain/obj
/BankingControlPanel.Domain/obj
/BankingControlPanel.Api/obj
*.user
